.popup {
  margin: 5rem;
}

.popup h1 {
  text-align: center;
  margin: 2rem;
  font: 1.2rem;
}

.popup p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.popup label {
    flex: 2 1
}
.popup input {
  padding: 0.5rem 0.5rem;
  width: 40rem;
}

.popup textarea {
  padding: 1rem 0.5rem;
}

.selection {
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 1rem;
  padding: 0.6rem;
}
