.searching {
  width: 100%;
  margin: 0.6rem 1rem;
  display: flex;
}

.searching select {
  height: 1.6rem;
  width: 6rem;
  margin-left: 2rem;
}

.searching input {
    height: 1.6rem;
    width: 20rem;
    margin-left: 2rem;
}

.searching button {
    
}