.post {
  border: 1px solid rgba(0, 0, 0, 0.177);
  margin: 1rem;
  box-shadow: 0.5px 0.5px 1px rgba(221, 218, 218, 0.794);
}

.info {
  display: flex;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px rgba(221, 218, 218, 0.794);
}

.info h3 {
  flex: 1 1;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsInfo p {
  font-size: 0.8rem;
}

.detailsInfo button {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: transparent;
}

.detailsInfo button:hover {
  transform: rotate(-20deg);
}

.date {
  font-size: 0.6rem;
  color: rgb(179, 179, 179);
}

.content {
  margin: 1.5rem 0.5rem;
}
