* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fira Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

@media (max-width: 1635px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
